:root {
    --white: #fff;
    --black: #264253;
    --background: #f0fafb;
    --primary: #4aa6c4;
    --primary-dark: #308aaa;
    --primary-light: #85c7db;
    --disabled-background: #CCC;
    --disabled-color: #666;
    --valid: #4CAF50;
    --invalid: #EF5350;
}